.about-me {

    &__text {
        @include main-font;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: $secender-font-color;
        text-align: justify;

        @media (min-width: $screen-md) {
            line-height: 28px;

        }

    }

    &__text-lead {
        font-weight: 600;
    }



}
