.works {
    background: $main-color;
    &__items {

        padding-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media (min-width: $screen-md) {
            padding-bottom: 100px;
        }
    }

    &__item {

        transition: all .3s ease-in-out;
        position: relative;
        border-radius: 5px;
        box-sizing: border-box;
        width: 560px;
        height: 100%;
        margin-bottom: 50px;



        @media (min-width: $screen-md) {
            height: 301px;
            float: left;
            margin-right: 20px;
            margin-bottom: 20px;


        }

        &--no-margin {
            @media (min-width: $screen-lg) {
                margin-right: 0;
            }
        }

        &--secend {

            &.works__item--no-margin {
                @media (min-width: $screen-lg) {
                    margin-right: 0;
                }
            }
            @media (min-width: $screen-xs) {
                margin-right: 0;
            }
            @media (min-width: $screen-md) {
                margin-right: 20px;
            }
        }



        &:hover {
            .apla-hover {
                opacity: 1;
            }
        }
        &:hover:before {
            height: 50%
        }

        &:hover:after {
            height: 50%
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background: rgba(0,0,0,.5);
            transition: height .3s ease-in-out;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            background: rgba(0,0,0,.5);
            transition: height .3s ease-in-out;


        }
    }

    &__image {
        max-width: 100%;
    }


}

.apla-hover {
    opacity:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: opacity .3s ease-in-out;
    z-index: 99;

    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;

    &__icone {
        margin-bottom: 20px;
        width: 40px;
        height: 40px;
    }

    &__project-name {
        color: #FFFFFF;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;

        &--text {
            display: none;

            @media (min-width: $screen-md) {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 15px;
                line-height: 22px;
            }
        }
    }
}
