.works {

}

.works__items {
    padding-bottom: 50px;

    @media (min-width: $screen-md) {
        padding-bottom: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}



.work {
    position: relative;
    width: 100%;
    margin-bottom: 20px;

    @media (min-width: $screen-md) {
        height: 430px;
        width: calc(50% - 30px);
        margin-bottom: 50px;
        overflow: hidden;
    }

    &:hover {
        .work__content {
            opacity: 1;
        }
    }
}

.work__content {
    display: block;
    text-decoration: none;
    text-align: center;
    color: $main-color;

    @media (min-width: $screen-md) {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        background: rgba(0,0,0,.8);
        border-radius: 5px;
        transition:  opacity .3s ease-in;
    }
}

.work__image {
    display: block;
    height: auto;
    width: 100%;
}

.work__name {
    display: inline-block;
    @include main-font;
    font-weight: 800;
    text-transform: uppercase;
    color: $pink;

    @media (min-width: $screen-md) {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 26px;
    }
}


.work__tech-list {
    width: 100%;
    padding: 0 50px;
    margin: 0;
    display: flex;
    flex-direction: column;
    @include main-font;
    list-style: none;

    @media (min-width: $screen-md) {
        flex-wrap: wrap;
        flex-direction: row;
    }

    li {
        position: relative;
        display: inline-block;
        padding-left: 20px;
        margin-bottom: 5px;
        @include main-font;
        font-size: 14px;
        text-align: center;

        @media (min-width: $screen-md) {
            width: 33.3333%;
            text-align: left;
        }

        &:after {
            content: none;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -2px;
            width: 4px;
            height: 4px;
            background: $main-color;
            border-radius: 50%;

            @media (min-width: $screen-md) {
                content: "";
                background: #fff;
            }
        }
    }
}

.work__subheading {
    margin-top: 0;
    @include main-font;
    font-weight: 600;
}

.work__description {
    @include main-font;
    font-weight: 600;
    color: $main-color;
    text-align: justify;
    margin-bottom: 40px;

    @media (min-width: $screen-md) {
        padding: 0;
        margin-bottom: 0;
    }
}